<h1>Edit_Post</h1>

<%= form_for @post do |f| %>
  <div>
    <label> caption:</label>
    Caption: <%= f.text_area :caption %>
  </div>
  <div>
    <label>picture:</label>
    <%=f.file_field :picture %>
  </div>
<%=f.submit%>
<% end %>
